.parent-nav {
    display: flex;
}

.nav-tab {
    cursor: pointer;
    padding: 12px;
}

.active-tab {
    font-weight: 600;
    border-bottom: 2px solid #e36209;
}

.count {
    padding: 2px 5px;
    color: #586069;
    display: inline;
    background: #EEEEEE;
    font-weight: 600;
    border-radius: 10px;
}

@media (min-width: 232px) and (max-width: 630px) {
    .nav-tab {
        padding: 6px;
        font-size: 12px;
    }
}